.container {
    background-color: #a5a9b1;
    height: 100vh;
}

h1 {
    background-color: grey;
    text-align: center;
    padding: 10px 10px;
    font-family: 'Shizuru', cursive;
}

a {
    text-align: center;
}

a:hover {
    text-decoration: none;
    background-color: #AFEEEE;
}

#myCanvas {
    margin: 0px 230px 50px;
}

.alert {
    text-align: center;
}

.btn {
    margin-bottom: 0px;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 5s linear infinite alternate;
    background: #92b0b6;
    color: rgba(48, 11, 2, 0.76);
    padding: 10px;
    margin: 0px 0px 10px 0px;
}

@keyframes marquee {
    from {
        text-indent: 50%;
    }
    to {
        text-indent: 10%;
    }
}

.game {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}

.alertNew {
    border: 2px solid rgb(70, 24, 24);
    margin: 0px 230px 10px 230px;
}

.btnNew {
    border: 2px solid rgb(70, 24, 24);
    margin: 0px 230px 0px 230px;
    padding: 38px 0px 0px 0px;
}

.textGame {
    color: rgb(38, 0, 255);
    text-align: justify;
    font-family: 'Macondo', cursive;
}